@keyframes moveToUp {
  0% {
    opacity: 0;
    transform: translateY(12rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-12rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveFromRightCorner {
  0% {
    opacity: 0;
    transform: translate(12rem, 12rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveFromLeftCorner {
  0% {
    opacity: 0;
    transform: translate(-12rem, 12rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.moveToUp-4s {
  animation: moveToUp 1s 0.4s;
}

.moveToUp-5s {
  animation: moveToUp 1s 0.5s;
}

.moveToUp-6s {
  animation: moveToUp 1s 0.6s;
}

.moveToUp-7s {
  animation: moveToUp 1s 0.7s;
}

.moveToRight-5s {
  animation: moveToRight 1s 0.5s;
}

.moveFromleftCorner-5s {
  animation: moveFromLeftCorner 1s 0.5s;
}

.moveFromleftCorner-7s {
  animation: moveFromLeftCorner 1s 0.7s;
}

.moveFromRightCorner-5s {
  animation: moveFromRightCorner 1s 0.5s;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.25%;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.heading-primary {
  color: #fff;
  font-size: 5.6rem;
  line-height: 1.3;
  letter-spacing: 2px;
  font-weight: 700;
}

.heading-secondary {
  color: #021f21;
  font-size: 6.8rem;
  line-height: 1.3;
  font-weight: 900;
  transition: all 0.4s 0.75s;
}

.heading-white {
  color: #fff;
}

.heading-tertiary {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 0.8rem;
  transition: all 0.4s 0.75s;
}

.heading-quaternary {
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: 1px;
}

.heading-container {
  font-size: 5.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.sec-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
  position: relative;
}
.sec-heading::before {
  content: "";
  height: 2.8px;
  width: 60px;
  background-color: #f59e0b;
  position: absolute;
  bottom: -8px;
  right: 8px;
  border-radius: 50px;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 6rem !important;
}

.u-margin-bottom-huge {
  margin-bottom: 16rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-top-medium {
  margin-top: 2.8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-right {
  margin-right: 4rem;
}

.ui-width-big {
  max-width: 82rem;
}

.bc-grey {
  background-color: #f8fefc;
}

.btn {
  font-size: 1.6rem;
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem 4.2rem;
  display: inline-block;
  cursor: pointer;
  transition: all 0.4s;
}
.btn:hover, .btn:active {
  transform: translateY(-1.4rem);
  box-shadow: 0 1.5px 1rem rgba(0, 0, 0, 0.1);
}

.nav__btn {
  padding: 0.8rem 2rem;
}

.btn-grad {
  background-image: linear-gradient(0.64deg, #00adce 19.56%, #26d09b 98.59%);
  text-decoration: none;
  border: none;
  padding: 0.8rem 8rem;
}
.btn-grad-2 {
  padding: 0.8rem 6rem;
}

.btn--right,
.btn--left {
  font-size: 1.6rem;
  color: #999;
  text-decoration: none;
  transition: all 0.2s;
}
.btn--right:hover, .btn--right:active,
.btn--left:hover,
.btn--left:active {
  color: #0a7b82;
}

.hire-us {
  display: flex;
  align-items: center;
}
.hire-us__container {
  background-color: #0a7b82;
  height: 66rem;
  width: 100%;
  padding: 20rem 12rem 20rem 4.5rem;
}
.hire-us__container--text {
  font-size: 1.7rem;
  color: #fff;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

.container-2 {
  background-color: #021f21;
}

.knowledge-center {
  position: relative;
}

.take-quiz {
  position: absolute;
  background-image: linear-gradient(96.64deg, #0c9aa3 19.56%, #326483 98.59%);
  z-index: 99999;
  height: 77rem;
  width: 94%;
  right: 0;
  bottom: -860%;
  padding: 10rem 5rem 20rem 5rem;
}

.heading-quiz {
  color: #fff;
  font-size: 6.8rem;
  font-weight: 900;
  padding-top: 1.6rem;
}

.sec-heading-quiz {
  color: #fff;
}
.sec-heading-quiz::before {
  left: 40px;
  width: 74px;
}

.think {
  font-size: 1.7rem;
  font-weight: 700;
  color: #fff;
  padding-top: 1rem;
}

.perposal {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 400;
  margin-top: 1rem;
  position: relative;
}
.perposal::before {
  content: "";
  height: 6px;
  width: 20rem;
  background-color: #fff;
  position: absolute;
  bottom: -3.4rem;
  left: 0;
  border-radius: 50px;
}

.question {
  padding-top: 8rem;
}

.q-heading {
  font-size: 3.2rem;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 4rem;
}

.option {
  display: inline-block;
  font-size: 2.8rem;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 2rem 4rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 6rem;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 2.5rem;
}
.row .col-1-of-2 {
  width: calc((100% - 2.5rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 2.5rem) / 3);
}
.row .col-2-of-3 {
  width: calc(
      2 * ((100% - 2 * 2.5rem) / 3) + 2.5rem
    );
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 2.5rem) / 4);
}
.row .col-2-of-4 {
  width: calc(
      2 * ((100% - 3 * 2.5rem) / 4) + 2.5rem
    );
}
.row .col-3-of-4 {
  width: calc(
      3 * ((100% - 3 * 2.5rem) / 4) + 2 * 2.5rem
    );
}
.row .col-1-of-7 {
  width: calc((100% - 6 * 2.5rem) / 7);
}

.grid:not(:last-child) {
  padding-bottom: 40rem;
}

.header {
  height: 56rem;
  background-image: linear-gradient(96.64deg, #00adce 19.56%, #26d09b 98.59%);
  position: relative;
}
.header__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 50%;
  padding-top: 5rem;
  margin-top: 3.8rem;
}

.header__text {
  font-size: 1.8rem;
  color: #fff;
  margin-top: 2.5rem;
  line-height: 1.8;
  letter-spacing: 1px;
  display: inline-block;
  width: 100%;
  height: 4rem;
}

.nav {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  color: #fff;
  font-size: 1.7rem;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 2rem;
}

.nav__links {
  display: flex;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: #fff;
}

.sticky {
  position: fixed;
  background-color: #fff;
  height: 1rem;
  z-index: 999;
  color: #021f21;
}

.logo {
  height: 5rem;
  width: auto;
}

.footer {
  background-image: url(../../img/why-ribbash-bg.png);
  height: 80rem;
}
.footer__grid {
  display: grid;
  margin: 0 5rem;
  padding: 43rem 0 4rem 0;
  grid-template-columns: 1fr 1fr 0.8fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-column-gap: 3rem;
  grid-row-gap: 1.2rem;
  justify-content: center;
  grid-column-end: 1;
  align-items: center;
  justify-items: baseline;
}
.footer__grid--items {
  font-size: 1.8rem;
  color: #fff;
  justify-self: start;
}

.footer-logo {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: start;
}

.about {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  line-height: 1.6;
  font-size: 1.9;
  justify-self: start;
  padding-top: 1rem;
}

.footer__links {
  padding-top: 3rem;
}

.line-2 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.line-3 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}

.line-4 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
}

.list {
  list-style: none;
}

.list-heading {
  font-weight: 500;
}

.list-items {
  display: inline-block;
  padding-bottom: 2rem;
  font-size: 1.9rem;
  text-decoration: none;
  transition: all 0.6s;
  justify-self: end;
}
.list-items:hover, .list-items:active {
  text-decoration: underline;
}

.footer-address {
  font-size: 2.1rem;
  padding-right: 2rem;
  color: #fff;
  font-weight: 100;
  line-height: 1.4;
}

.line-4 {
  margin-top: -2.2rem;
}

.social__media {
  display: flex;
  padding-top: 1.2rem;
  justify-self: start;
  align-items: center;
}
.social__media--links {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2rem;
  border-radius: 50%;
}

.logo-in {
  color: #000;
  text-decoration: none;
  background-color: #fff;
  font-weight: 800;
  padding: 0.3rem 0.6rem;
  border-radius: 50%;
}
.logo-in:hover, .logo-in:active {
  color: #fff;
  background-image: linear-gradient(96.64deg, #00adce 19.56%, #26d09b 98.59%);
}

.logo-fb {
  color: #000;
  text-decoration: none;
  background-color: #fff;
  font-size: 1.9rem;
  font-weight: 900;
  padding: 0.1rem 0.9rem;
}
.logo-fb:hover, .logo-fb:active {
  color: #fff;
  background-image: linear-gradient(96.64deg, #00adce 19.56%, #26d09b 98.59%);
}

.logo-insta,
.logo-twitter {
  padding: 0.5rem;
  background-color: #fff;
  transition: all 0.2s;
}
.logo-insta:hover, .logo-insta:active,
.logo-twitter:hover,
.logo-twitter:active {
  color: #fff;
  background-image: linear-gradient(96.64deg, #00adce 19.56%, #26d09b 98.59%);
  cursor: pointer;
}

.section-title {
  padding: 8rem 8rem 4rem 8rem;
}
.section-title .helping-text {
  color: #021f21;
  font-size: 1.8rem;
  display: inline-block;
  margin-top: 1.6rem;
  line-height: 1.8;
}
.section-title .logo-img {
  justify-content: space-between;
  aspect-ratio: 1/2;
}

.logo-img:not(:last-child) {
  margin-right: 2.2rem;
}

.startup-container {
  text-align: center;
  position: relative;
  margin-bottom: 6rem;
}
.startup-container .startup-value {
  color: #0a7b82;
  font-size: 6.2rem;
  font-weight: 900;
  margin-bottom: 2rem;
}
.startup-container p {
  font-size: 2.2rem;
  color: #021f21;
  line-height: 1.4;
}

.section-helping-startup {
  padding-bottom: 22rem;
}

.section-about {
  padding: 12rem 6rem;
  height: 92rem;
  background-image: url(../../img/why-ribbash-bg.png);
}
.section-about .feature__box {
  background-color: #fff;
  padding: 2.8rem;
  margin-top: 4rem;
  height: 26rem;
  transition: all 0.2s;
}
.section-about .feature__box-text {
  padding-top: 1.6rem;
  font-size: 1.7rem;
  line-height: 1.3;
  letter-spacing: 0.8px;
}

.grad-animat:hover,
.grad-animat:active {
  background-image: linear-gradient(96.64deg, #00adce 19.56%, #26d09b 98.59%);
  color: #fff;
}

.our-portfolio {
  padding-bottom: 40rem;
}

.grid__photo img {
  width: 84%;
  transition: all 0.4s;
}
.grid__photo img:hover, .grid__photo img:active {
  transform: translateY(-2rem);
}
.grid__photo-1 {
  margin-top: -10rem;
}
.grid__photo-2 {
  margin-top: -6rem;
}
.grid__photo-3 {
  margin-top: -4.5rem;
}
.grid__title--head {
  margin-bottom: 2rem;
  position: relative;
}
.grid__title--head::before {
  content: "";
  height: 2.8px;
  width: 60px;
  color: #f59e0b;
  bottom: -6px;
  left: 4px;
  right: 0;
  position: absolute;
  border-radius: 50px;
}
.grid__title--text {
  font-size: 1.8rem;
  line-height: 1.6;
}

.knowledge-center {
  margin: 8rem 52rem 54rem 0;
}

.sec-heading-el::before {
  content: "";
  height: 2.8px;
  width: 58px;
  background-color: #f59e0b;
  position: absolute;
  bottom: -8px;
  left: 18px;
  border-radius: 50px;
}

.text {
  color: #021f21;
  font-size: 1.7rem;
  display: inline-block;
  margin-top: 1.6rem;
  line-height: 1.5;
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding: 2rem 6rem;
  position: relative;
}
.copyright__text {
  font-size: 1.6rem;
  color: #999;
}
.copyright__btns span {
  font-size: 1.6rem;
  color: #999;
}

.reveal-el {
  transition: all 0.4s;
}

.hidden {
  opacity: 0;
  transform: translate(8rem);
}/*# sourceMappingURL=main.css.map */