//Colors
$color-primary: #00adce;
$color-secondary: #26d09b;

$color-green-dark: #021f21;
$color-blue-dark: #0a7b82;
$color-blue: #326483;
$color-blue-light: #0c9aa3;

$color-orange: #f59e0b;

$color-white: #fff;
$color-grey-light: #f8fefc;
$color-black: #000;

//GRIDS
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 2.5rem;
